{{^isFuncComponent}}
// #region Global Imports
import { WithTranslation } from "next-i18next";
// #endregion Global Imports

{{/isFuncComponent}}
declare module {{interfaceName}} {
    export interface IProps {{^isFuncComponent}}extends WithTranslation{{/isFuncComponent}} { }

    {{#isClass}}
    export interface InitialProps {
        namespacesRequired: string[];
    }
    
    export interface IStateProps { }

    {{/isClass}}

    {{#isConnectStore}}
    module Actions {
        export interface IMapPayload { }
        export interface IMapResponse { }
    }
    {{/isConnectStore}}
}

export { {{interfaceName}} };
