//#region Local Imports
import { {{upperFileName}} } from '@Entities/{{upperFileName}}';
//#endregion Local Imports

//#region Interface Imports
import { I{{upperFileName}} } from '@Interfaces';
//#endregion Interface Imports

export namespace {{upperFileName}}Repository {
	export const exampleMethod = async (): Promise<I{{fileName}}> => {

		return;
	};
}
