import {{fileName}} from './index.svelte';

describe('Sample', () => {
	it('is empty by default', (next) => {
		const target = document.createElement('div');
		const sample = new {{fileName}}({ target });

		setTimeout(() => {
			const { firstElementChild: element } = target;
			expect(element.className).toBe('{{fileName}}');
			next();
		}, 10);
	});
});