// #region Global Imports
import React, { FunctionComponent } from "react";
// #endregion Global Imports

{{#hasStyle}}
// #region Local Imports
{{#isScss}}
import "./style.scss";
{{/isScss}}
{{#isStyled}}
import { Container } from "./styled";
{{/isStyled}}
// #endregion Local Imports
{{/hasStyle}}

// #region Interface Imports
import { {{interfaceName}} } from "./{{fileName}}";
// #endregion Interface Imports

export const {{fileName}}: FunctionComponent<{{interfaceName}}.IProps> = (
    props
): JSX.Element => (
    {{#isStyled}}
    <Container>{{fileName}} Component</Container>
    {{/isStyled}}
    {{^isStyled}}
    <div className="{{lowerFileName}}">
        <span>{{fileName}} Component</span>
    </div>
    {{/isStyled}}
);
