// #region Global Imports
import * as React from "react";
// #endregion Global Imports

// #region Local Imports
import { Container } from "./styled";
// #endregion Local Imports

// #region Local Imports
import { I{{fileName}} } from "./{{fileName}}";
// #endregion Local Imports

const {{fileName}}: React.FunctionComponent<I{{fileName}}.IProps> = (props): JSX.Element => {
    return <Container>{{fileName}} Component</Container>;
};

export { {{fileName}} };
