//#region Global Imports
import { WithTranslation } from "next-i18next";
//#endregion Global Imports

declare module I{{fileName}} {
    export interface IProps extends WithTranslation<{}> {

    }
    {{#isClass}}
    export interface IState { }
    export interface IStateProps { }
    {{/isClass}}

    {{#isConnectStore}}
    module Actions {
        export interface IMapPayload { }
        export interface IMapResponse { }
    }
    {{/isConnectStore}}
}

export { I{{fileName}}Name };