{{^isFuncComponent}}
// #region Global Imports
import { WithTranslation } from "next-i18next";
// #endregion Global Imports
{{/isFuncComponent}}

export declare module {{interfaceName}} {
    export interface IProps {{^isFuncComponent}}extends WithTranslation{{/isFuncComponent}} { }

    {{#isClass}}
    export interface InitialProps {
        {{#isPage}}
        namespacesRequired: string[];
        {{/isPage}}
    }
    
    export interface IStateProps { }

    {{/isClass}}

    {{#isConnectStore}}
    module Actions {
        export interface IMapPayload { }
        export interface IMapResponse { }
    }
    {{/isConnectStore}}
}
