// #region Global Imports
import React from "react";
import { NextPage } from "next";
import { useSelector, useDispatch } from "react-redux";
// #endregion Global Imports

// #region Local Imports
import { withTranslation } from "@Server/i18n";
import { IStore } from "@Redux/IStore";
import { {{upperFileName}}Actions } from "@Actions";
{{#isScss}}
import "./style.scss";
{{/isScss}}
{{#isStyled}}
import { Container } from "@Styled/{{upperFileName}}";
{{/isStyled}}
// #endregion Local Imports

// #region Interface Imports
import { ReduxNextPageContext, {{interfaceName}} } from "@Interfaces";
// #endregion Interface Imports

const {{upperFileName}}: NextPage<{{interfaceName}}.IProps, {{interfaceName}}.InitialProps> = ({
    t,
    i18n,
}) => {
    const {{lowerFileName}} = useSelector((state: IStore) => state.{{lowerFileName}});
    const dispatch = useDispatch();

    return (
        {{#isStyled}}
        <Container>
            {{upperFileName}} Page
        </Container>
        {{/isStyled}}
        {{^isStyled}}
        <section id="{{lowerFileName}}">
            {{upperFileName}} Page
        <section>
        {{/isStyled}}
    );
};

{{upperFileName}}.getInitialProps = async (
    ctx: ReduxNextPageContext
): Promise<{{interfaceName}}.InitialProps> => {

    return { namespacesRequired: ["common"] };
};

const Extended = withTranslation("common")({{upperFileName}});

export default Extended;
