// #region Global Imports
import * as React from "react";
import { NextPage } from "next";
import { useSelector, useDispatch } from "react-redux";
// #endregion Global Imports

// #region Local Imports
import { withTranslation } from "@Server/i18n";
{{#isScss}}
import './style.scss';
{{/isScss}}
{{#isStyled}}
import { Container } from "@Styled/{{upperFileName}}";
{{/isStyled}}
import { IStore } from "@Redux/IStore";
import { {{upperFileName}}Actions } from "@Actions";
// #endregion Local Imports

// #region Interface Imports
import { ReduxNextPageContext, I{{upperFileName}} } from "@Interfaces";
// #endregion Interface Imports

const {{upperFileName}}: NextPage<I{{upperFileName}}.IProps, I{{upperFileName}}.InitialProps> = ({
    t,
    i18n,
}) => {
    const {{lowerFileName}} = useSelector((state: IStore) => state.{{lowerFileName}});
    const dispatch = useDispatch();

    return (
        <Container>
         {{upperFileName}} page
        </Container>
    );
};

{{upperFileName}}.getInitialProps = async (
    ctx: ReduxNextPageContext
): Promise<I{{upperFileName}}.InitialProps> => {

    return { namespacesRequired: ["common"] };
};

const Extended = withTranslation("common")({{upperFileName}});

export default Extended;
