//#region Global Imports
import React from "react";
//#endregion Global Imports

{{#isScss}}
//#region Local Imports
import "./style.scss";
//#endregion Local Imports
{{/isScss}}

//#region Interface Imports
import { {{interfaceName}} } from "./{{fileName}}";
//#endregion Interface Imports

export const {{fileName}}: React.FunctionComponent<I{{fileName}}.IProps> = (props): JSX.Element => (
    <div className="{{lowerFileName}}">
        <span>{{ fileName }}</span>
    </div>
);
